@charset "UTF-8";


body {
    background-color: #eeeeee;
}

select:invalid {
    background-color: #9C1A1C;
}

@font-face {
  font-family: 'hannari';
  src: url(../font/Hannari.otf) format('opentype');
}

.my-title {
    font-family: 'HannariMincho' !important;
    text-align: center;
    font-size: 2em;
}

.kyoto {
    font-family: 'HannariMincho' !important;
}

.child {
    grid-row: 1 / 2;
    grid-column: 2 / 3;
}

.line {
    height: 2px;
    width: 100%;
    background-color: #eeeeee;
}

.grid-container {
    width: 100%;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 24px 1fr 24px;
}

.flex-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.card-container {
    width: 100%;
    display: grid;
    grid-template-rows: 80px 120px 1fr 1fr 16px;
    grid-template-columns: 24px 1fr 24px;
}

.card-title {
    grid-row: 1 / 2;
    grid-column: 2 / 3;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-contents {
    /*height: 100%;*/
    width: 100%;
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.considerations {
    font-size: 1.5em;
}

.card-form {
    grid-row: 3 / 4;
    grid-column: 2 / 3;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.card-bottom {
    grid-row: 4 / 5;
    grid-column: 2 / 3;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 80px;
}

.custom-table {
    margin-bottom: 24px;
}

.filed-label {
    width: 200px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 1.5em;
    margin-right: 20px;
}

.filed-container {
    width: 100%;
    display: flex;
    justify-content: center;
}