<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <!-- import jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
    <link rel="stylesheet" href="/static/css/index.css">
    <title>どすウェイ</title>
</head>
<body>
<nav>
    <div class="nav-wrapper pink darken-1">
        <a class="brand-logo center" style="font-family: 'HannariMincho'" href={{ url_for('index') }}>どすウェイ</a>
    </div>
</nav>
<div class="grid-container">
    <div class="flex-container child">
        <h4 class="my-title">
            オープンデータのフォーマットはJSON以外ありえへんどすえ
        </h4>
        <div class="card">
            <div class="card-container">
                <div class="card-title">
                  <span class="my-title">注意事項どすえ</span>
                </div>

                <div class="card-contents">
                    <ul>
                        <li>
                            <div class="kyoto considerations">
                                入力するデータは<b><u>英数字</u></b>だけで入力してなぁ。
                            </div>
                        </li>
                        <li>
                            <div class="kyoto considerations">
                                最低でも意味のある<b><u>英単語</u></b>にしてなぁ 翻訳は<a href="https://codic.jp/">このサイト</a>でやるとええでぇ。
                            </div>
                        </li>
                        <li>
                            <div class="kyoto considerations">
                                <b><u>「a1」</u></b>なんて名前、プログラマーは許容せえへんどすえ。
                            </div>
                        </li>
                    </ul>
                </div>

                {% block form %}
                {% endblock %}

                {% block submit %}
                {% endblock %}
            </div>

        </div>
    </div>
</div>
{% block script %}
{% endblock %}
</body>
</html>