<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <!-- import jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
    <link rel="stylesheet" href="/static/css/index.css">
    <title>どすウェイ</title>
</head>
<body>
<nav>
    <div class="nav-wrapper pink darken-1">
        <span class="brand-logo center" style="font-family: 'HannariMincho'">どすウェイ</span>
    </div>
</nav>
<div class="grid-container">
    <div class="flex-container child">
        <h4 class="my-title">
            オープンデータのフォーマットはJSON以外ありえへんどすえ
        </h4>
        <div class="card">
            <div class="card-container">
                <div class="card-title">
                  <span class="my-title">注意事項どすえ</span>
                </div>

                <div class="card-contents">
                    <ul>
                        <li>
                            <div class="kyoto considerations">
                                入力するデータは<b><u>英数字</u></b>だけで入力してなぁ。
                            </div>
                        </li>
                        <li>
                            <div class="kyoto considerations">
                                最低でも意味のある<b><u>英単語</u></b>にしてなぁほんまに。
                            </div>
                        </li>
                        <li>
                            <div class="kyoto considerations">
                                <b><u>「a1」</u></b>とか許容せえへんどすえ。
                            </div>
                        </li>
                    </ul>
                </div>

                <form class="card-form" id="card-form" method="post">
                    <div class="filed-container">
                        <span class="kyoto filed-label">
                            タイトル
                        </span>
                        <div class="input-field" style="width: 50%">
                            <input type="text" name="title" id="autocomplete-input" class="autocomplete validate" pattern="^([a-zA-Z0-9]{8,})$" required/>
                            <label for="autocomplete-input" class="kyoto">
                                意味のわかるタイトルにしてなぁ 最低でも8文字以上やで
                            </label>
                        </div>
                    </div>

                    <div class="filed-container">
                        <span class="kyoto filed-label">
                            データ項目数
                        </span>
                        <div class="input-field" style="width: 50%">
                            <input type="text" name="column" id="autocomplete-input" class="autocomplete validate" pattern="^[0-9]+$" required/>
                            <label for="autocomplete-input" class="kyoto">
                                入力するデータの種類の数（列）やで
                            </label>
                        </div>
                    </div>

                    <div class="card-button">
                        <button class="waves-effect waves-light btn kyoto pink darken-1" id="first" type="submit">
                            決定
                        </button>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>
{#<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">#}
{#<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>#}
<script type="application/javascript" src="/static/js/index.js"></script>
</body>
</html>