<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <!-- import jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
{#    <link href="https://fonts.googleapis.com/earlyaccess/hannari.css" rel="stylesheet"/>#}
    <link rel="stylesheet" href="/static/css/index.css">
    <title>Dosway</title>
</head>
<body>
<nav>
    <div class="nav-wrapper pink darken-1">
        <span class="brand-logo center" style="font-family: 'Hannari'">どすウェイ</span>
    </div>
</nav>
<h4 class="my-title">
    オープンデータのフォーマットはJSON以外ありえねぇから！！
</h4>

</body>
</html>