{% extends "base.html" %}
{% block form %}
    <form class="card-form" id="second-form" method="post" action={{ url_for('item_names') }}>
        <div class="filed-container">
            <div class="line" style="margin-bottom: 16px"></div>
        </div>
        <div class="filed-container">
            <span class="kyoto my-title" style="margin-bottom: 16px">
                次は、項目の名前を英数字だけで入力してなぁ
            </span>
        </div>
        {% for count in column_count %}
            <div class="filed-container">
                <span class="kyoto filed-label">
                    項目{{ count }}
                </span>
                <div class="input-field" style="width: 50%">
                    <input type="text" name="key-names[]" id="autocomplete-input" class="autocomplete validate"
                           pattern="^([a-zA-Z_]{3,})$" required/>
                    <label for="autocomplete-input" class="kyoto">
                        {{ count }}つ目の項目やで、意味のわかる英語で入力してなぁ
                    </label>
                </div>
            </div>
        {% endfor %}
        <button class="waves-effect waves-light btn kyoto pink darken-1" id="second" type="submit">
            各項目の名前を決定
        </button>
    </form>
{% endblock %}

{% block script %}
    <script type="application/javascript" src="/static/js/second.js"></script>
{% endblock %}