{% extends "base.html" %}
{% block form %}
    <form class="card-form" id="third-form" method="post">
        {% for name in names %}
            <div class="filed-container">
                <span class="kyoto filed-label">
                    {{ name }}
                </span>
                <div class="input-field" style="width: 50%">
                    <input type="text" name="elements" id="autocomplete-input" class="autocomplete validate"
                           pattern="^.+$" required/>
                    <label for="autocomplete-input" class="kyoto">
                        {{ name }}の値やでぇ、ここは日本語も使えんでぇ
                    </label>
                </div>
            </div>
        {% endfor %}

        <button class="waves-effect waves-light btn kyoto pink darken-1" id="third" type="submit">
            要素の値を追加
        </button>
    </form>
{% endblock %}

{% block submit %}
    <form method="post" id="last-form" class="card-button" action={{ url_for('download') }}>
        <input type="hidden" name="title" required>
        <input type="hidden" name="text" required>
        <button class="waves-effect waves-light btn kyoto pink darken-1" id="third" type="submit">
            オープンデータファイルを作成
        </button>
    </form>
{% endblock %}

{% block script %}
    <script type="application/javascript" src="/static/js/third.js"></script>
{% endblock %}